.header_wrapper {
  padding: 20px 15px;
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.header {
  padding-top: 40px;
  position: relative;

  &:before {
    height: 40px;
    content: '';
    display: block;
    background: #000;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .logo-block {
    margin-right: 10px;
  }
}
