.skills-title {
  color: #007c77;
  font-size: 46px;
  line-height: 46px;
  margin-bottom: 40px;
  text-align: left;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.skills-list-wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  .skills-list {
    padding: 0;
    margin: 0;
  }

  .skills-item {
    display: flex;
    align-items: center;
    border-bottom: 2px solid;

    label {
      display: block;
      width: 100%;
      margin-left: -20px;
      padding: 10px 0 10px 25px;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, .1);
      }
    }

    &:first-of-type {
      border-top: 2px solid;
    }
  }
}